<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section>
		<h1>This is a new about Section</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
			nulla asperiores ratione tenetur enim aliquam non eligendi hic
			veritatis exercitationem! Aspernatur voluptatibus rerum sequi fugit
			quia sed aliquid et voluptate totam numquam temporibus cum nam
			accusantium nobis minima excepturi error eaque fugiat minus
			blanditiis maxime molestias hic iste incidunt eius.
		</p>
	</section>


</body>
</html>